@import "compass/css3";
@import url('https://fonts.googleapis.com/css?family=Signika');
@import url('https://api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.css');
@import url('https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css');

html {
	font-family: 'Signika', sans-serif;

}


body {
	margin: 0px;
	 
}

.container {
	background: #5263ff;
	margin: 0, 0, 0, 0;
	padding: 0, 0, 0, 0;
	display: block;

	color: white;
	text-align: center;

}


#phone {
	background: #ff9c39;
	border-radius: 100px;
	padding: 18px 18px 18px 18px;


}

h1,
h3 {
	font-family: 'Signika', sans-serif;
	font-weight: 700;
	text-align: center;
	margin-top: 0px;
}

#footer {
	background-color: #ff9c39;
}
#buttonImage
{
	border: solid 2px black;
	box-shadow: black 0px 0px 10px 0px;
	 
	 
}

 
a {
	color: white;
}
#form
{	  
	margin-left: -150px;
}
 
.column {
	float: left;
	width: 10.33%;
	padding: 15px;
}

/* Clear floats after the columns */
.row:after {
	content: "";
	display: table;
	clear: both;
}

img{
	transition:  all 0.5s;
	
	border-radius: 8px;
}